@import 'styles';

.block {
    margin: 50px 0px;
    box-shadow: -5px 5px 12px -10px grey;
    padding: 20px;
    border-radius: 7px;
    &:hover {
        box-shadow: 0px 0px 15px -7px grey;
        transition: box-shadow 250ms;
    }
}
.bar-graph {
    position: relative;
    height: 35px;
    margin: 10px 0px;
    div.bar {
        // background: lightgrey;
        margin: 20px 0px;
        height: 5px;
        position: absolute;
        // border-right: 1px solid black;
        // &:hover {
        //     padding: 1px;
        //     transition: padding 250ms ease-in-out;
        // }
    }
    .first-manuscript {
        background: rgba(000, 000, 256, 0.5);
        &::after {
            @include indicator-text($content: attr(data-note), $align:right, $placement: 10px 0px)
        }
    }
    .first-fragment {
        background: rgba(256, 000, 000, 0.5);
        &::after {
            @include indicator-text($content: attr(data-note), $align:right, $placement: -15px 0px)
        }
    }
    .mss-count {
        background: rgba(000, 000, 256, 0.5);
        &::after {
            @include indicator-text($content: attr(data-note), $align: right, $placement: 10px 0px)
        }
    }
    .fragment-count {
        background: rgba(256, 000, 000, 0.5);
        &::after {
            @include indicator-text($content: attr(data-note), $align: right, $placement:-15px 0px)
        }
    }
}